.expanse-filter{
    margin: 1rem;
    background-color: rgb(197, 99, 219);
  border: 3px solid rgb(69, 9, 83);
  border-radius: 5px;
  padding: 0.3rem 0.5rem;
  font-weight: 700;

}
.expanse-filter select{
background-color: rgb(69, 9, 83);
color: white;
margin: 0.3rem;
padding: 0.2rem;
border: 2px solid white;
border-radius: 5px;
}